/**
 * Wonderjar Admin Stylesheet
 * @author Matt
 * @since 2017-03-17
 *
 */

/* Globals */

.admin-header {
	padding-bottom: 1em;
}

.admin-header > h2 {
	margin: 0 0 1em;
	padding: 0 0 .35em;
	border-bottom: 1px solid rgba(0,0,0,.1);
	font-family: 'Angelina', sans-serif;
	font-size: 2.05em;
	color: #f8c300;
}

/* End globals */

/* Main Header */

.main-header {
	border-bottom: 1px solid #eee;
}

/* End Main Header */

/* Logo */

.logo-link {
	display: inline-block;
	padding: 15px 0 13px;
}

.logo {
	max-height: 46px;
}

/* End Logo */

/* Main Navigation */

.wj-admin .main-nav {
	width: 100%;
	height: 100%;
	display: block;
	padding: 0;
	border: 0;
	border-radius: 0;
	background: none;
}

.wj-admin .main-nav-ul {
	margin: 0;
	padding: 0;
	float: right;
	display: table;
	height: 100%;
	list-style: none;
}

	.wj-admin .main-nav-ul::after {
		content: '';
		clear: both;
		display: table;
	}

.wj-admin .main-nav li {
	padding: 0 2em;
	border-left: 1px solid #eee;
	display: table-cell;
	vertical-align: middle;
	background: transparent;
	height: 100%;
	-webkit-transition: background .05s ease;
	transition: background .05s ease;
}

	.wj-admin .main-nav li:last-child {
		border-right: 1px solid #eee;
	}

	.wj-admin .main-nav li:hover {
		background: #fff;
	}

.wj-admin .main-nav a {
	padding: .5em 0;
	font-size: 1.03em;
	letter-spacing: .015em;
	text-transform: lowercase;
	color: #969696;
	-webkit-transition: color .05s ;
	transition: color .05s ;ease
}


/* End Main Navigation */

/* Options */

.options-container {
	position: relative;
}

	.options-container::after {
		content: '';
		display: table;
		clear: both;
	}

.options-container .form-contain {
	float: left;
	width: 75%;
}

.options-container .sidebar {
	background: #f9f9f9;
}

.theme-options-container ul.theme-options {
	margin: 0;
	padding: 0;
	list-style: none;
}

.theme-options li {
	margin: 0 -.5em;
	transition: background .2s ease;
}

	.theme-options li:hover {
		background: #d9d9d9;
	}

.theme-options a {
	padding: .25em .5em;
	display: inline-block;
	box-shadow: none;
}

.current-options {
	margin: 4em 0 2em;
	padding: 2em;
	border-width: 1px 0;
	border-style: inset;
	border-color: rgba(0,0,0,.35);
	opacity: .35;
}

.current-options p {
	font-size: .8em;
}

/* End options */

/* Pages / Plugins Layout */

.pages,
.plugins {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pages li,
.plugins li {
	margin: 0;
	padding: 1em;
	background: #fff;
	border-bottom: 1px solid #eee;
	-webkit-transition: box-shadow .3s ease;
	transition: box-shadow .3s ease;
}

	.pages li:hover,
	.plugins li:hover {
		box-shadow: 0 0 2px 1px rgba(0,0,0,.05);
	}

	.pages li:last-child,
	.plugins li:last-child {
		margin-bottom: 0;
	}

	.pages li::after,
	.plugins li::after {
		content: '';
		clear: both;
		display: table;
	}

.pages .page-name,
.plugins .plugin-name {
	float: left;
}

.pages h3,
.plugins h3 {
	margin: 0;
	padding: .3em 0;
	font-weight: 600;
}

.pages h3 > a,
.plugins h3 > a {
	box-shadow: none;
}

.page-special {
	padding-left: .5em;
	font-family: 'Angelina', sans-serif;
	font-size: .925em;
	font-weight: 400;
	letter-spacing: .07em;
	color: #f8c300;
}

.page-atts,
.plugin-atts {
	margin: 0;
	float: right;
	font-size: .7em;
}

.page-atts a,
.plugin-atts a {
	color: #808080;
	-webkit-transition: opacity .05s;
	transition: opacity .05s;
}

	.page-atts a:hover,
	.plugin-atts a:hover {
		opacity: .8;
	}

/* End pages */

/* New page */

.permagroup {
	margin: 0 0 1em;
	padding: .5em;
	background: #eee;
	border-bottom: 1px solid #ddd;
}

.permagroup label {
	color: #555;
}

.permagroup input {
	margin: 0;
	color: #555;
}

.form-contain input:not([type=submit]) {
	padding: .5em;
	width: 100%;
	max-width: 375px;
}

/* TinyMCE */

.form-contain .mce-edit-area {
	margin-right: 1px !important;
}

/* End tinyMCE */

/* End new page */

/* Menus page */

/* End Menus Page */

/* Forms */

.inner-form {}

	.inner-form::after {
		content: '';
		display: table;
		clear: both;
	}

.main-form {
	float: left;
	width: 73%;
	margin-left: 2%;
	padding-left: 2%;
	border-left: 1px inset #ccc;
}

.main-form > .form-contain {
	padding: 2em;
	background: #fff;
	min-height: 16em;
}

.main-form .submit-group {
	float: right;
}

.inner-left {
	float: left;
	width: 73%;
	margin-right: 2%;
	padding-right: 2%;
	border-right: 1px inset #ccc;
}

.form-header {
	margin: 0;
	padding-bottom: .5em;
}

.form-header .form-title {
	margin: 0 0 .5em;
	font-size: 1.2rem;
	font-weight: 800;
}

.form-group {}

	.form-group::after {
		content: '';
		display: table;
		clear: both;
	}

.submit-group {
	margin-top: 1.5em;
}

/* Checkboxes */

input[type="checkbox"] {
	width: auto !important;
	max-width: none !important;
}

.checkbox {
	margin: 0 0 .3em;
	display: table;
}

.checkbox input {
	float: left;
	margin-bottom: 0 !important;
}

.checkbox label {
	margin: 0 !important;
	padding-left: .4em;
	display: table-cell;
	vertical-align: text-top;
	text-transform: uppercase !important;
	color: #505050;
}

/* End Forms */

/* Sidebars */

.sidebar {
	float: left;
	width: 25%;
	padding: 2em;
	background: #fff;
	border-bottom: 1px solid #eee;
}

.sidebar label {
	font-size: .95rem;
	font-weight: 600;
	text-transform: lowercase;
}

.sidebar input,
.sidebar select {
	width: 100%;
	margin-bottom: .7em;
}

/* End Sidebars */



