/**
 * Wonderjar Creative Main Stylesheet
 * @author Matt
 * @version 1.0
 * @since 2017-03-18
 *
 */


/* 
Colors
-------------------------------------------------- */
/*
	bright green: #60efad
*/

/* 
Fonts
-------------------------------------------------- */

@font-face {
  font-family: "CM Sans Serif";
  src: url('/includes/fonts/cm-sans-serif/cm-sans-serif-2012.ttf') format("truetype");
}

@font-face {
  font-family: "Angelina";
  src: url('/includes/fonts/angelina/angelina.ttf') format("truetype");
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100');


/*
Globals
-------------------------------------------------- */

:focus {
	outline: none;
}

button,
input[type="submit"] {
	margin: 0 0 1em;
	padding: 1em 2em;
	border: 2px solid #eee;
	background: #909090;
	font-size: .9rem;
	text-transform: uppercase;
	color: #fff;
	-webkit-box-shadow: none;
	        box-shadow: none;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

	button:hover,
	input[type="submit"]:hover {
		opacity: .9;
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1),
					0 0 1px 1px rgba(0,0,0,.05);
		        box-shadow: 0 1px 1px rgba(0,0,0,.1),
					0 0 1px 1px rgba(0,0,0,.05);
	}

	button:focus,
	input[type="submit"]:focus {
		-webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0,.05);
		        box-shadow: inset 0 0 1px 1px rgba(0,0,0,.05);
}

button > a {
	color: #fff;
}

input[type="submit"] {
	margin: 1em 0;
	font-size: .95rem;
	background: #49c2f9;
}

body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #646464;
}

div, section, aside, ul, li {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

h1, h2 {
	margin: 0 0 1em;
	font-family: 'CM Sans Serif', sans-serif;
	font-weight: 400;
}

h3, h4, h5, h6 {
	margin: 0 0 1em;
	font-weight: 400;
}

.main-navigation {
	font-family: "Open Sans", sans-serif;
}

h1 {
	font-size: 2.4em;
	color: #78e8b4;
}

h2 {
	font-size: 2.1em;
	color: #4e4e4e;
}

h3 {
	font-size: 1.25em;
	color: #606060;
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: .9em;
	letter-spacing: .06em;
	text-transform: lowercase;
	color: #bbb;
}

h5 {
	font-weight: 600;
	font-size: 1.1em;
	color: #78e8b4;
}

p {
	margin: 0 0 1em;
	font-size: 1em;
}

a {
	color: #222;
	text-decoration: none;
	-webkit-transition: color .05s ease, box-shadow .05s ease;
	-webkit-transition: color .05s ease, -webkit-box-shadow .05s ease;
	transition: color .05s ease, -webkit-box-shadow .05s ease;
	transition: color .05s ease, box-shadow .05s ease;
	transition: color .05s ease, box-shadow .05s ease, -webkit-box-shadow .05s ease;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	margin: 0 0 1em;
	padding: 0 0 0 1em;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

label {
	margin: 0 0 .25em;
	display: block;
}

input, select, option, textarea {
	margin: 0 0 1em;
	padding: .35em .75em;
	border: 1px solid #777;
	border-radius: 2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #454545;
}

div[style^="clear"] {
	position: absolute;
}

.main-content a {
	-webkit-box-shadow: 0 1px 0 0 currentColor;
	        box-shadow: 0 1px 0 0 currentColor;
}

	.main-content a:hover {
		-webkit-box-shadow: none;
		        box-shadow: none;
	}

.main-content button > a {
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.inner-content {
	padding: 3em;
}

	.inner-content::after {
		content: '';
		display: table;
		clear: both;
	}

.home-section .inner-content {
	padding: 0;
}

.main-section {
	padding: 3em 0;
	background: #f9f9f9;
}

.main-section .inner-content {
	background-color: #fff;
}

.plain-section {
	padding: 0;
	background: #f9f9f9;
}

	.inner-container::after,
	.col-container::after {
		content: '';
		display: table;
		clear: both;
	}

.col-container > *:last-child {
	margin-bottom: 0 !important;
}

.mce-button {
	margin: 1em 0;
	background: #fff;
	border-color: #fff;
}

.mce-button > a {
	color: #606060;
}



/*
Helpers
-------------------------------------------------- */

.col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	padding: 0 1em;
	float: left;
}

.col-3 {
	width: 25%;
}
.col-6 {
	width: 50%;
}

.col-12 {
	width: 100%;
}

.table {
	display: table;
	height: 100%;
}

.cell {
	display: table-cell;
	vertical-align: middle;
}

.label-left {
	margin-right: 1em;
	float: left;
}

.label-top {
	margin-bottom: .3em;
	padding: 0;
	float: none;
}

.label-right {
	margin-right: .4em;
	padding: 0;
	float: right;
}

.full-image {
	padding: 0 !important;
}

.full-image img {
	float: right;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}


/*
Margins
-------------------------------------------------- */

.inner-container {
	margin: 0 auto;
	padding: 0 3%;
}


/*
Main Header
-------------------------------------------------- */

.main-header {
	position: relative;
	z-index: 100;
	background-color: #f1f1f1;
}

/* fixed header */

.fixed-header .main-header {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	left: 0;
}

.header-container {
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

	.header-container::after {
		content: '';
		clear: both;
		display: table;
	}

.logo-container {
	float: left;
	width: 20%;
}

.navigation-container {
	float: right;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

	.navigation-container::after {
		content: '';
		clear: both;
		display: table;
	}

/* logo */

.logo-link {
	display: inline-block;
	padding: 1em 0;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

.logo {
	max-height: 42px;
}

/* scrolling */

.main-header.scrolling {
	background: #f1f1f1 !important;
}

.main-header.scrolling .logo-link {
	padding: .5em 0;
}


/*
Main Navigation
-------------------------------------------------- */

.main-nav {
	display: none;
	width: 100%;
	height: 100%;
}

.main-nav {
	padding: 2em;
	background: #fff;
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: #eee;
	border-radius: 0 0 0 4px;
}

.main-nav ul {
	margin: 0;
	padding: 1.8em 0 0 0;
	list-style: none;
	text-align: center;
}

.main-nav a {
	color: #4e4e4e;
	font-weight: 800;
	font-size: 1.2em;
	text-transform: uppercase;
}

/* menu toggle */

.menu-toggle {
	float: right;
	cursor: pointer;
}

	.menu-toggle::after {
		content: '';
		display: table;
		clear: both;
	}

.top,
.middle,
.bottom {
	position: relative;
	display: block;
	height: 3px;
	width: 25px;
	border-bottom: 3px solid #4e4e4e;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

	.toggled .top {
		display: none;
	}

	.toggled .middle {
		-webkit-transform: rotate(45deg);
		        transform: rotate(45deg);
	}

	.toggled .bottom {
		top: -6px;
		left: -2px;
		-webkit-transform: rotate(-45deg);
		        transform: rotate(-45deg);
	}

.toggled .main-nav {
	display: block;
	min-height: 14em;
	position: absolute;
	top: 100%;
	right: 0;
	width: 30%;
}

.border-bottom {
	padding: .2em 0;
	border-bottom: 1px solid #f1f1f1;
}


/*
Homepage
-------------------------------------------------- */

.home {
	margin-top: 0 !important;
}

.home .main-header {
	background: none;
}

.homepage-content {
	position: relative;
	z-index: 2;
	background-color: #f9f9f9;
}

/* tagline */

.homepage-tagline {
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), color-stop(#ddd), to(#f9f9f9));
	background: linear-gradient(to bottom, #f9f9f9, #ddd, #f9f9f9);
	padding-bottom: 0;
	-webkit-transition: padding-top .2s ease;
	transition: padding-top .2s ease;
}

.homepage-tagline .col-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.homepage-tagline .col-6 {
	padding: 1em 0;
}

.homepage-tagline h1 {
	margin-bottom: .1rem;
	font-size: 2.2em;
	text-transform: lowercase;
	color: #4e4e4e;
}

.homepage-tagline h4 {
	margin-bottom: 0;
	color: #fff;
}

/* promo */

.homepage-promo {
	padding-top: 4em;
	padding-bottom: 4em;
	background: #60efad;
}

.homepage-promo .col-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.homepage-promo h3 {
	margin-bottom: .75rem;
	font-size: 1.4em;
	text-transform: uppercase;
}

.homepage-promo h5 {
	margin-bottom: 0;
	color: #767676;
}

/* sections */

.homepage-content .homepage-section {
	padding-top: 4em;
	padding-bottom: 4em;
}

.homepage-header {
	padding: 0 0 .5em;
	text-align: center;
	display: none;
}

.homepage-header .homepage-title {
	margin-bottom: .5em;
	font-size: 2.4rem;
	text-transform: lowercase;
	color: #4e4e4e;
}

/* homepage plugin */

.homepage-plugin-area {
	background: #fff;
}

.plugin-header {
	padding: 0 0 1em;
	text-align: center;
}

.plugin-header .plugin-title {
	margin: 0 0 .5em;
	position: relative;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: .055em;
	color: #6f6f6f;
}

/* homepage mce */

.homepage .col-container {
	margin: 0 auto;
	max-width: 1000px;
}

.homepage .homepage-header {
	display: block;
}

.homepage p {
	color: #707070;
}


/*
Main Footer
-------------------------------------------------- */

.main-footer {
	position: relative;
	z-index: 2;
	padding: 1em 0;
	background-color: #777;
}

.footer-copywrite {
	text-align: center;
	text-transform: lowercase;
}

.footer-copywrite p {
	margin: 0;
	font-size: .775em;
	color: #fff;
}
