/**
 * Wonderjar Admin Stylesheet
 * @author Matt
 * @since 2017-03-17
 *
 */

/* Globals */

.admin-header {
	padding-bottom: 1em;
}

.admin-header > h2 {
	margin: 0 0 1em;
	padding: 0 0 .35em;
	border-bottom: 1px solid rgba(0,0,0,.1);
	font-family: 'Angelina', sans-serif;
	font-size: 2.05em;
	color: #f8c300;
}

/* End globals */

/* Options */

.current-options {
	margin: 4em 0 2em;
	padding: 2em;
	border-width: 1px 0;
	border-style: inset;
	border-color: rgba(0,0,0,.35);
	opacity: .35;
}

.current-options p {
	font-size: .8em;
}

/* End options */

/* Pages */

.pages {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pages li {
	margin: 0 0 1em;
	padding: 1em 1.5em;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0,0,0,.015);
	box-shadow: 0 1px 1px rgba(0,0,0,.125);
}

	.pages li:nth-child(odd) {
		background: #f9f9f9;
	}

	.pages li:nth-child(even) {
		background: #f3f3f3;
	}

	.pages li:last-child {
		margin-bottom: 0;
	}

	.pages li::after {
		content: '';
		clear: both;
		display: table;
	}

.pages h3 {
	margin: 0;
	padding: .35em .45em;
	background: #fff;
	float: left;
}

.pages-helpers {
	margin: 0 0 1.5em;
}

.page-options {
	margin: 0;
	clear: left;
	float: right;
	font-size: .7em;
}

.page-options a {
	color: #808080;
	-moz-transition: opacity .05s ease;
	-o-transition: opacity .05s ease;
	-ms-transiton: opacity .05s ease;
	-webkit-transition: opacity .05s;
	transition: opacity .05s;
}

	.page-options a:hover {
		opacity: .8;
	}

/* End pages */

/* New page */

.form-contain input:not([type=submit]) {
	padding: .5em;
	width: 100%;
	max-width: 375px;
}

/* End new page */

/* TinyMCE */

.form-contain .mce-edit-area {
	margin-right: 1px !important;
}

/* End tinyMCE */



